
@{
    Layout = "_Layout1";
    ViewData["Title"] = "بلاگ";
}

<h1>این صفحه بلاگ من میباشد</h1>
<p>
    در اصل Layout یک یا چند قالب اصلی برای ایجاد صفحات وب است که بخش‌های ثابت و مشترک بین صفحات مختلف را در خود نگه می‌دارد. به عبارت دیگر، Layout یک فایل Razor است که شامل ساختار HTML پایه و اجزای ثابت سایت می‌باشد و می‌تواند توسط سایر صفحات – Viewها استفاده شود. Layout یک ابزار قدرتمند در ASP.NET Core است که توسعه و نگهداری وب‌سایت‌ها را ساده‌تر و موثرتر می‌کند. در این آموزش Asp.Net Core به آموزش کار با Layout ها میپردازیم.

</p>

@section HederText{
    <h2>Hello World</h2>
}


